
.card.main-statistic-ay {
    width: 100%;
    background-color: var(--main_green_trans_30);
    border: 1px solid #938E8E;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    color: var(--black_button_text);



}

.card-header {
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--black_button_text);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    gap: 23px;
    width: 100%;

}

h6.title {
    
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: var(--black_button_text);
}

span.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--black_button_text);

}

ul.list-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-group-item {
    display: flex;
    align-items: center;

    border-bottom: 1px solid #ddd;
    display: flex;
}

.list-group-flush>.list-group-item {
    padding: 2px 19px 2px 19px;
    display: flex;
    background-color: #F3F3F3;

}

div.user-name {

    flex-grow: 1;
    color: var(--black_button_text);
    font-size: 14px;
    font-weight: 400;
    line-height: 26.87px;
}

div.number {
    display: flex;
    gap: 8px;
    color: var(--black_button_text);
    font-size: 14px;
    font-weight: 400;
    line-height: 26.87px;
}

span.fixed-ay {
    align-items: center;
}

@media screen and (max-width:1200px) {
    .card-header {
        gap: 10px;
    }
}