.mainchart {
  width: 502px;
  /* height: 329px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
  border: 1px solid #938e8e;
  border-radius: 4px;
  padding: 15px;
}
