.BY_LandMark .BY_container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    direction: rtl;
    gap: 30px;
}

.BY_LandMark .BY_container .top_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
}

.BY_LandMark .BY_container .top_section .right_section,
.BY_LandMark .BY_container .top_section .left_section {
    display: flex;
    justify-content: space-between;
    width: 46%;
    gap: 5%;
    align-items: center;
}

.BY_LandMark .BY_container .content_section-BY {
    display: flex;
    justify-content: center;
    flex-direction: column;
    direction: rtl;
    width: 100%;
}

@media screen and (max-width:1200px) {
    .BY_LandMark .BY_container .top_section {
        flex-direction: column;
        row-gap: 30px;
    }

    .BY_LandMark .BY_container .top_section .right_section,
    .BY_LandMark .BY_container .top_section .left_section {
        width: 100%;
    }
}